<a href="https://colab.research.google.com/github/nandhukumar86/CapstonePneumoniaDetection/blob/main/Vani/Capstoneyolomodel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [34]:
TrainDir = "/content/drive/MyDrive/Content/DriveAIML/capstone/jpg_reshaped_train/"
TestDir='/content/drive/MyDrive/Content/DriveAIML/capstone/jpg_reshaped_test/'
sublabel='/content/drive/MyDrive/Content/DriveAIML/capstone/stage_2_sample_submission.csv'
basepath = "/content/drive/MyDrive/Content/DriveAIML/capstone/"

In [4]:
import os, cv2,copy, gc
import pickle
import glob2 as glob
import pandas as pd
import numpy as np
import datetime
from tqdm import tqdm_notebook
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.patches import Rectangle
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow.python.client import device_lib
from tensorflow import keras
from tensorflow.keras.applications import VGG16
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.preprocessing import image
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras import models, layers, Model, losses
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint, ReduceLROnPlateau
from tensorflow.keras.layers import Input, Concatenate, Dense, Dropout, Flatten, Activation, BatchNormalization

In [5]:
filename =  '/content/drive/MyDrive/Content/DriveAIML/capstone/RezisedLabel.pickle'
with open(filename, "rb") as input_file:
  y_train = pickle.load(input_file)

In [6]:
trainimg = glob.glob(TrainDir+'*.jpg') #Getting all images in this folder
testimg=glob.glob(TestDir+"*.jpg") #

In [7]:
 len(trainimg)

11740

In [8]:
y_train.head(5)

                              patientId      x      y  ...    yo  widtho  heighto
0  0004cfab-14fd-4e49-80ba-63a80b6bddd6    NaN    NaN  ...   NaN     NaN      NaN
1  00313ee0-9eaa-42f4-b0ab-c148ed3241cd    NaN    NaN  ...   NaN     NaN      NaN
2  00322d4d-1c29-4943-afc9-b6754be640eb    NaN    NaN  ...   NaN     NaN      NaN
3  003d8fa0-6bf1-40ed-b54c-ac657f8495c5    NaN    NaN  ...   NaN     NaN      NaN
4  00436515-870c-4b36-a041-de91049b9ab4  264.0  152.0  ...  38.0    54.0     95.0

[5 rows x 14 columns]

In [9]:
y_train.size

423178

In [36]:
class_info_df = pd.read_csv(basepath+'stage_2_detailed_class_info.csv')
sub_info_df=pd.read_csv(sublabel)#test label or submission

In [48]:
## Merging the two datasets
#In class detailed info dataset are given the detailed information about 
#the type of positive or negative class associated with a certain patient.
#In y_train labels dataset are given the patient ID and the window (x min, y min, width and height of the) 
#containing evidence of pneumonia
train_class_df = y_train.merge(class_info_df, left_on= ('patientId'), right_on=('patientId'), how='inner').drop_duplicates()
train_class_df.sample(5)

                                  patientId  ...                         class
7366   45e92e87-9e8e-4783-ba97-c032c17864da  ...                  Lung Opacity
30222  d76d709c-ec60-4c66-9002-2d0420b80073  ...                        Normal
31721  e3314152-aa5f-4dff-93f8-93dc0bcbe57b  ...  No Lung Opacity / Not Normal
8523   4e0296ae-1440-4c05-957e-3177134ee108  ...                  Lung Opacity
17254  8a345a98-7f22-4a81-8c21-3541831c3c1c  ...  No Lung Opacity / Not Normal

[5 rows x 15 columns]

In [49]:
#reading image 500 samples traindir
sampNum = 500 # Number of samples to import
X = [] # Empty to read training images
x1=[]
print(type(x1))
print("Before sampling\n")
print("Total training unique patient ids: ",train_class_df['patientId'].nunique())
print("Number of images in train set:", len(os.listdir(TrainDir)))
print("\n")
print("Total training labels {}" .format(train_class_df.shape))
#display(distTab(train_class_df, "Target")) # Dsitribution of target before sampling

print("\n\nAfter sampling\n")
Y = train_class_df.sample(n=sampNum, random_state=2) # Sampling
Y.reset_index(drop=True, inplace=True)
print("Total sampled training labels {}" .format(Y.shape))
#display(distTab(Y.sample(n=sampNum), "Target"))  # Dsitribution of target after sampling

for indx in Y.patientId:
    
    try:
       #print(indx)
       filepath=TrainDir+indx+'.jpg'
       image = cv2.imread(filepath)
       X.append(indx)
       x1.append(image)
      # print(filepath)
    except: 
        continue
zipbObj = zip(X, x1)        
 

X=dict(zipbObj)#takes zip object
print("\n\nTotal sampled training images {}" .format(len(X)))
Y = Y[Y.patientId.isin(X.keys())]
print("Total training labels {}" .format(Y.shape))

<class 'list'>
Before sampling

Total training unique patient ids:  26684
Number of images in train set: 11740


Total training labels (30227, 15)


After sampling

Total sampled training labels (500, 15)


Total sampled training images 500
Total training labels (500, 15)

In [54]:
#reading image 100 samples test dir
sampNum = 10 # Number of samples to import
Xtest = [] # Empty to read training images
x1test=[] 
#print("Total training unique patient ids: ",train_class_df['patientId'].nunique())
print("Total training unique patient ids: ",sub_info_df['patientId'].nunique())
print("Number of images in test set:", len(os.listdir(TestDir)))
 
print("\n")
print("Total training labels {}" .format(sub_info_df.shape))
#print("Total training labels {}" .format(train_class_df.shape))
#Ytest = train_class_df.sample(n=sampNum, random_state=2) # Sampling
Ytest = sub_info_df.sample(n=sampNum, random_state=2) # Sampling
Ytest.reset_index(drop=True, inplace=True)
print("Total sampled testing labels {}" .format(Ytest.shape))
#display(distTab(Y.sample(n=sampNum), "Target"))  # Dsitribution of target after sampling

for indx1 in Ytest.patientId:
    
    try:
      # print(indx1)
       filepath1=TestDir+indx1+'.jpg'
       image1 = cv2.imread(filepath1)
       Xtest.append(indx1)
       x1test.append(image1)
      # print(filepath1)
    except: 
        continue
zipbObj1 = zip(Xtest, x1test)        
 

Xtest=dict(zipbObj1)#takes list object
#print(Xtest)
print("\n\nTotal sampled test images {}" .format(len(Xtest)))
Ytest = Ytest[Ytest.patientId.isin(Xtest.keys())]
print("Total test labels {}" .format(Ytest.shape))

Total training unique patient ids:  3000
Number of images in test set: 2871


Total training labels (3000, 2)
Total sampled testing labels (10, 2)


Total sampled test images 10
Total test labels (10, 2)

In [52]:
# Shape of images
print(len(X))
print(len(Xtest))
print(len(Y))
print(len(Ytest))

500
10
500
10

In [53]:
Xdf = pd.DataFrame({'patientId':X.keys(),
                   'imageArray':X.values()})
dattrain = Y.merge(Xdf, on='patientId', how='left')

#test
Xtestdf = pd.DataFrame({'patientId':Xtest.keys(),
                   'imageArray':Xtest.values()})
dattest = Ytest.merge(Xtestdf, on='patientId', how='left')

In [40]:
dattrain.head(10)

                              patientId  ...                                         imageArray
0  e4dd25aa-7839-4e0e-a984-c7cb1b31d2c7  ...  [[[1, 1, 1], [1, 1, 1], [1, 1, 1], [1, 1, 1], ...
1  5c389c6d-2abc-43a9-91e7-847f85bf6ff1  ...                                               None
2  324f9ed1-09e0-483e-9bdd-d139e77acb85  ...                                               None
3  4ac6590a-ecdb-47b7-92f3-cfc6fa405955  ...                                               None
4  7213e146-4efd-40e6-ab88-a9e7a9c8c25c  ...                                               None
5  229e6aef-1467-49a2-9158-49fd8acea0cf  ...                                               None
6  8c66c1c4-02c3-47ff-b2af-748370dd8b7e  ...                                               None
7  ef08ab22-8cd0-4f63-af8a-c839a94916db  ...  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...
8  ea3347c3-e4eb-4c00-927b-176ddd296f72  ...  [[[255, 255, 255], [253, 253, 253], [254, 254,...
9  1ed2052a-c208-40ca-8ccc-3378aec6f929  ...                                               None

[10 rows x 16 columns]

In [41]:
 dattest.head(10)

                              patientId  ...                                         imageArray
0  1cb71dda-47f2-44e0-ad42-2737ec3f43b6  ...  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...
1  0f9f2955-cf07-40e3-9624-6d84654c9fb9  ...  [[[4, 4, 4], [6, 6, 6], [7, 7, 7], [7, 7, 7], ...
2  03675081-3f27-4e22-a1dd-6cccd8c4cc92  ...  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...
3  30fe50ee-4108-42fe-8dfd-27b1e61dccf0  ...  [[[1, 1, 1], [1, 1, 1], [1, 1, 1], [1, 1, 1], ...
4  1cb7194e-f761-41b7-8e6f-d5abdbfb270c  ...  [[[217, 217, 217], [213, 213, 213], [211, 211,...
5  1e585120-583c-4d50-be9b-8ffda0f933a9  ...  [[[130, 130, 130], [124, 124, 124], [117, 117,...
6  2d17ce84-86f9-4153-8d91-3a75ffe303cc  ...  [[[70, 70, 70], [28, 28, 28], [11, 11, 11], [9...
7  10aea5ae-b0be-48e1-87cd-477c15a85772  ...  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [1, 1, 1], ...
8  048a59f8-9022-4598-8424-f8b0250a2e2a  ...  [[[3, 3, 3], [3, 3, 3], [3, 3, 3], [3, 3, 3], ...
9  c04e3eeb-80ec-46f1-81e4-4186ece11b3e  ...  [[[2, 2, 2], [2, 2, 2], [2, 2, 2], [2, 2, 2], ...

[10 rows x 3 columns]

In [ ]:
#
test_class_df = y_train.merge(sub_info_df, left_on= ('patientId'), right_on=('patientId'), how='inner').drop_duplicates()
train_class_df.describe

In [58]:
Xdf = pd.DataFrame({'patientId':X.keys(),
                   'imageArray':X.values()})

dat = Y.merge(Xdf, on='patientId', how='left')